/* colour: #202b41 */

html {
    height: 100%;
    position: relative;
}
body {
    font-family: sans-serif;
    height: 100%;
}

.jumbotron {
    text-align: center;
    margin-top: 20px;
}

#recent-results {
    text-align: center;
    font-size: larger;
}

.game-container {
    display: flex;
    height: 100%;
    background-color: #dae0e8;
}

.board-container {
    padding: 10px 50px;
    flex-grow: 1;
    text-align: center;
}

.chat-container {
    flex-shrink: 0;
    width: 300px;
    position: relative;
    background-color: #cad2dd;
}

.board {
    display: flex;
    flex-direction: row;
    border-top: 5px solid #202b41;
    border-bottom: 5px solid #202b41;
    margin: auto;
    width: 60%;
    max-width: 1200px;
}

.column {
    display: flex;
    flex-direction: column-reverse;
    width: 14.286%;
}

.column:hover {
    background-color: #fff;
}

.cell {
    height: 5vw;
    background-image: url('../images/cell.png');
    background-position: center center;
    background-size: 100% 100%;
    text-align: center;
    line-height: 48px;
}

.cell.player-1 {
    background-color: #e81216;
}

.cell.player-2 {
    background-color: #ffcf2f;
}

.cell.player-1.winning {
    background-color: #ff8b7e;
}

.cell.player-2.winning {
    background-color: #faff96;
}

#status {
    margin: auto;
    font-size: large;
    font-weight: bold;
}

.player-1 {
    color: #e81216;
}

.player-2 {
    color: #e5ac49;
}

#chat {
    padding: 5px;
}

#chat-status {
    background-color: #a3abb6;
    padding: 5px;
}

#chat-input {
    position: absolute;
    bottom: 0;
    padding: 10px;
    border: none;
    background-color: white;
    width: 300px;
}

.player-name {
    font-weight: bold;
}

.chat-status {
    font-style: italic;
}
